.active-pool-content {
  border-radius: 8px;
  padding: 2rem;
}

.active-pools {
  margin: 2rem;
  color: #878c92;
}

.active-pools .container {
  background: #141e2a;
  max-width: 1000px !important;
}

.header-text {
  font-weight: 300;
}
