.nav {
  padding: 15px 0 !important;
}

.logo {
  max-width: 50px !important;
  width: 100%;
}

.brand-name {
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 15px;
  font-size: 2rem;
  font-weight: 200;
}

.brand-name span {
  font-weight: 700;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-item:last-child .nav-link {
  color: #ff45a0 !important;
  font-weight: 300;
}

.nav-item:last-child {
  border: 1px solid #ff45a0;
  border-radius: 8px;
  padding: 0 25px;
}

/* announcement */
.announcement-container {
  background-color: #ff45a0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  flex-wrap: wrap;
}

.announcement-link {
  min-width: 140px;
  font-size: 1.25rem;
  margin: 3px 0;
  display: flex;
  align-items: center;
}

.announcement-logo {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  background-color: white;
  margin: 0 0.75rem;
}

.announcement-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.announcement-link-container:hover {
  color: #000;
}

.text_underline,
.text_underline:focus,
.text_underline:active {
  text-decoration: underline;
}
.text_underline:hover {
  color: #000 !important;
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 15px 10px !important;
  }
  .nav-container .nav-item:last-child .nav-link {
    font-size: 13px;
    padding: 7px 0;
  }

  .nav-item:last-child {
    padding: 0 20px;
  }

  .brand-name {
    font-size: 2rem;
  }

  .logo {
    max-width: 30px !important;
    width: 100%;
  }
}
