.card-item {
  border: 1px solid #878c92;
  background-color: transparent;
  border-radius: 5px;
  padding: 3rem;
  margin: 1.25rem auto;
  min-width: 40rem;
  max-width: 45rem;
  width: 100%;
}

.fw-200 p,
.fw-200 small {
  font-weight: 200;
}

.deposited-container {
  flex-direction: column;
}

.deposited-btn {
  border: 1px solid #878c92 !important;
  background-color: transparent !important;
  color: #ff45a0 !important;
  font-size: 1.6rem !important;
  border-radius: 5px !important;
  width: 100%;
  max-width: 150px;
  padding: 5px 0 !important;
  margin: 1rem;
}

.deposited-btn-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.deposited-information {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.deposited-text-container {
  min-width: 20rem;
  width: 100%;
  margin: 2rem;
  flex-direction: column;
}
.deposited-text-container .header {
  font-weight: 600;
  font-size: 1.75rem;
}
.deposited-text-container .subheader {
  font-weight: 300;
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .card-item {
    min-width: unset;
  }
}

@media only screen and (max-width: 600px) {
  .deposited-text-container {
    margin: 2rem !important;
    margin-left: 2rem !important;
  }

  .card-item {
    padding: 1rem;
  }

  .fw-200 p,
  .fw-200 small {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .deposited-btn-container {
    margin-top: 2rem;
  }

  .deposited-text-container {
    margin: 1rem 2rem;
  }
}

body .toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 30rem;
}

@media only screen and (min-width: 600px) {
  body .toast {
    bottom: unset;
    top: 6rem;
    right: 3rem;
    width: 35rem;
  }
}

body .toast-body {
  background-color: transparent;
  font-size: 1.55rem;
  padding: 1rem 1.5rem;
  word-wrap: break-word;
  z-index: 99999999999;
  color: white;
  display: flex;
  align-items: center;
}

body .toast-body svg {
  stroke-width: 2 !important;
  color: white;
  margin-right: 1rem;
  width: 3rem;
}

body .toast-info {
  background-color: #ff9800;
  font-weight: 300;
}

body .toast-error {
  background-color: #f44435;
  font-weight: 300;
}
